@function getLeft($w) {
  @return calc(100% - #{$w});
}
@function getPixels() {
  @return '130px';
}
@function calcPX() {
  $result: 100vh - $header-height;
  @return $result;
}
@function getHeaderHeight() {
  @return calc(100% - #{$height-footer});
}

@mixin easeOut {
  transition: all 650ms ease-out;
}

@mixin big-img($img, $url) {
  @if $img {
    background-image: $url;
    background-position: right bottom;
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
  }
}
@mixin backappcl() {
  position: relative;
  background-image: url('../public/images/banners/big-img-home.svg');
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  /*&:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ececdc;
    background-image: url('../public/images/theme/overlay.png');
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
    opacity: 0.9;
    z-index: -1;
  }*/
}
@mixin backapp() {
  position: relative;
  background-image: url('../public/images/banners/corealign.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
  height: 100vh;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #454343;
    background-image: url('../public/images/theme/dott.png');
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
    opacity: 0.8;
    z-index: -1;
  }
}

@mixin overlay($cl, $url-dott, $opacity) {
  content: '';
  background: $cl;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: $opacity;
  @if ($url-dott) {
    background-image: url($url-dott);
    background-position: top center;
    background-repeat: repeat;
    background-attachment: fixed;
  }
}
