@function getLeft($w) {
  @return calc(100% - #{$w});
}
@function getPixels() {
  @return '130px';
}
@function getPixelsPerc($w, $p) {
  $calc: ($w - ($w * $p));
  @return $calc * 1px;
}
@function calcPX() {
  $result: 100vh - $header-height;
  @return $result;
}
@function getHeaderHeight() {
  @return calc(100% - #{$height-footer});
}

@mixin easeOut {
  transition: all 650ms ease-out;
}
@mixin pricesGradient() {
  border: 1px solid #9af1be;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
@mixin big-img($img, $url) {
  @if $img {
    background-image: $url;
    background-position: right bottom;
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
  }
}
@mixin backappvga() {
  position: relative;
  background-image: url('../public/images/banners/big-img-home.svg');
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    opacity: 0.7;
    z-index: -1;
  }
}
@mixin backapp() {
  position: relative;
  width: 100%;
  height: 100%;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../public/images/banners/big-img-pagehome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    z-index: -2;
  }
}

@mixin overlay($cl, $url-dott, $opacity) {
  content: '';
  background: $cl;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: $opacity;
  @if ($url-dott) {
    background-image: url($url-dott);
    background-position: top center;
    background-repeat: repeat;
    background-attachment: fixed;
  }
}
