@function getLeft($w) {
  @return calc(100% - #{$w});
}
@function getPixels() {
    @return '130px';
  //@return calc(100% - #{$w});
}
@function calcPX() {
  $result: 100vh - $header-height;
  @return $result;
}
@function getHeaderHeight() {
  @return calc(100% - #{$height-footer});
}

@mixin easeOut {
  transition: all 650ms ease-out;
}

@mixin big-img($img, $url) {
  @if $img {
    background-image: $url;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@mixin overlay($cl, $url-dott, $opacity) {
  content: '';
  background: $cl;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: $opacity;
  @if ($url-dott) {
    background-image: url($url-dott);
    background-position: top center;
    background-repeat: repeat;
    background-attachment: fixed;
  }
}
/*
background-color: #183026;
  background-image: url("../../public/images/theme/overlay.png");
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-position: top left, center 0;
  background-attachment: fixed, fixed;
*/
