//Import fonts google
@import url('https://fonts.googleapis.com/css?family=Dosis|Nunito:400,600|Oswald');
//News+Cycle
$heading-font: 'Nunito', sans-serif; // only 400 and 400i
$h3-font: 'Oswald', sans-serif;
$body-font: 'Dosis', sans-serif;

body {
  font-family: $body-font;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 1px;
  color: #3a3939;
  text-shadow: 0 0 0.5px rgba(58, 57, 57, 0.25);
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin: 0;
  &.il-section--title {
    @media screen and (max-width: 360px) {
      font-size: 1.9rem;
      margin: 0;
      padding: 0;
      font-weight: 400;
    }
    @media screen and (min-width: 361px) and (max-width: 480px) {
      font-size: 2rem;
      margin: 0;
      padding: 0;
    }
    @media screen and (min-width: 481px) and (max-width: 1024px) {
      font-size: 2.7rem;
      margin: 0;
      padding: 0;
    }
    font-size: 4rem;
    & span {
      font-weight: 200;
    }
    &.il-title--full {
      width: 100%;
      display: flex;
      margin: 0;
      padding: 0;
      @media screen and (max-width: 480px) {
        font-size: 2.2rem;
      }
      & span {
        margin-left: 0.45rem;
      }
    }
  }

  &.il-section--sub-title {
    font-size: 1.7rem;
    margin-bottom: 1.4rem;
    padding: 0;
    font-weight: 400;
    @media screen and (max-width: 360px) {
      font-size: 0.95rem;
      margin: 0;
      padding: 0;
    }
    @media screen and (min-width: 361px) and (max-width: 480px) {
      font-size: 1rem;
      margin: 0;
      padding: 0;
    }
    @media screen and (min-width: 481px) and (max-width: 1024px) {
      font-size: 1.15rem;
      margin: 0;
      padding: 0;
    }
  }

  &.il-section--sm-title {
    @media screen and (max-width: 360px) {
      font-size: 0.9rem;
      margin: 0;
      padding: 0;
    }
    @media screen and (min-width: 361px) and (max-width: 480px) {
      font-size: 1.1rem;
      margin: 0;
      padding: 0;
    }
    @media screen and (min-width: 481px) and (max-width: 1024px) {
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
    }
  }

  &.il-section--title__small {
    font-weight: 500;
    font-size: 80%;
  }

  &.il-cards--title {
    text-align: center;
  }
  &.text-center {
    text-align: center;
  }
  &.text-left {
    text-align: left;
  }
  &.text-right {
    text-align: right;
  }
  &.text-justify {
    text-align: justify;
  }
}
h2,
h3 {
  font-family: $h3-font;
}
p {
  //font-family: $heading-font;
  font-size: 0.95rem;
  text-align: right;
  @media screen and (min-width: 480px) {
    font-size: 0.98rem;
  }
  &.il-content--description {
    text-align: justify;
    font-size: 1.1rem;
    height: 70%;
    line-height: 1.2;
    transition: font-size 400ms ease-in-out;
    @media screen and (min-width: 501px) {
      transition: font-size 400ms ease-in-out;
      font-size: 1rem;
    }
    min-height: 100px;
  }
  &.il-section--description {
    font-size: 1.1rem;
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    position: relative;
    text-align: right;
    @media screen and (max-width: 360px) {
      font-size: 1.2rem;
    }
    @media screen and (min-width: 361px) and (max-width: 480px) {
      font-size: 1.3rem;
    }
    &:after {
      content: '';
      position: absolute;
      top: 1.45rem;
      right: 0;
      width: 100%;
      height: 3px;
      border-bottom: 2px solid white;
    }
  }
}
