/*---------------VARIABLES----------------*/

/*colors*/

$primaryColor: #912816; //#fcf5f1
$primaryAccent: darken($primaryColor, 15%);
$secondColor: #f8eb9f;
$secondColorAccent: darken($secondColor, 15%);
$thirtyColor: #f7f6f1; //#e6dcab;
$fortyColor: #52481f;
$thirtyColorAccent: darken($thirtyColor, 15%);
$fortyColorAccent: darken($fortyColor, 15%);
$textColor: #343434;
$textColorGold: #e6dcab;
$textColorAlt: darken($textColor, 5%);
$textColorAccent: darken($textColor, 15%);
$textColorLight: lighten($secondColor, 30%); //$secondColor;
$textColorVeryLight: $primaryColor; //lighten($primaryColor, 40%);
$textColorDark: darken($textColor, 15%);
$textColorLightGray: lighten($fortyColor, 25%);

//body
$dark: #332f20;
$colorBg: $primaryColor;
$lines-bg: $secondColor;
$colorBorder: rgb(224, 222, 195);

/*STRUCTUE*/
$max-width: 1344px;

/*modal*/
$modal-delay: 400ms;
$width-modal: 300px;

/*header*/
/* logo*/
$brand-sw: 160px;
$brand-sh: 97px;
/* logo*/
$brand-swsmall: 86px;
$brand-shsmall: 42px;
$pos-top: 1vh;
$pos-bottom: 2rem;
$m-w: 40px;
$m-h: 40px;
$header-height: $brand-sh + $m-h;
$brandUrl: '../public/images/theme/logokaizen160x97.png';
$brandUrlSmall: '../public/images/theme/logokaizen86x42.png';
/*app*/
$opacity-overlay: 0.5;
$overlay-img: '../public/images/theme/overlay.png';
$app-overlay: rgba(228, 100, 26, 0.9);

/*Other elements*/
$back-body: #eee;
$back-cards: rgba(85, 85, 88, 0.87); //rgba(170, 61, 11, 0.87);

/*footer*/
$height-footer: 150px;
$height-footer-top: 120px;
$back-footer: #555a63;
$back-footer-home: darken($back-footer, 6%);
$back-footer-about: darken($back-footer, 6.5%);
$back-footer-studio: darken($back-footer, 7%);
$back-footer-class: darken($back-footer, 7.5%);
$back-footer-teacher: darken($back-footer, 8%);
$back-footer-student: darken($back-footer, 8.5%);
$back-footer-advantage: darken($back-footer, 9%);
$back-footer-albuns: darken($back-footer, 9.5%);
$back-footer-curse: darken($back-footer, 10%);
$back-footer-curriculum: darken($back-footer, 10.5%);
$back-footer-video: darken($back-footer, 11%);
$back-footer-bottom: #afb3b9; //lighten($back-footer, 12%);

$back-header: rgba(darken($fortyColor, 0.85), 0.75);
$back-portrait: $thirtyColor;
$back-nav: $secondColor;
$show-img-home: true;
$big-img-url-home: url('../public/images/banners/big-img-home.jpg');
$avataSmall: 100px;
$avatarMedium: 120px;
$avatarBig: 140px;
$show-avatar: true;
$avatar-url: url('../public/images/pictures/img-muraguti.jpg');
/*$big-img-url-curriculum: $big-img-url-home; // url('../../public/images/banners/big-img-curriculum.jpg');

$show-img-space: true;
$big-img-url-space: $big-img-url-home; // url('../../public/images/banners/big-img-space.jpg');

$show-img-instructor: true;
$big-img-url-instructor: $big-img-url-home; // url('../../public/images/banners/big-img-teacher.jpg');

$show-img-class: true;
$big-img-url-class: $big-img-url-home; // url('../../public/images/banners/big-img-class.jpg');

$show-img-about: true;
$big-img-url-about: $big-img-url-home; // url('../../public/images/banners/big-img-about.jpg');

$show-img-advantage: true;
$big-img-url-advantage: $big-img-url-home; // url('../../public/images/banners/big-img-advantage.jpg');

$show-img-student: true;
$big-img-url-student: $big-img-url-home; // url('../../public/images/banners/big-img-student.jpg');

$show-img-video: true;
$big-img-url-video: $big-img-url-home; // url('../../public/images/banners/big-img-video.jpg');

$show-avatar-space: true;
$avatar-space: url('../../public/images/pictures/img-muraguti-space.jpg');

$show-img-gallery: false;
$big-img-url-gallery: $big-img-url-home; //url('../../public/images/banners/big-img-home.png');

$show-img-email: true;
$big-img-url-email: $big-img-url-home; //url('../../public/images/banners/big-img-email.jpg');
// big-img-email.jpg

*/

/** depoiments*/
$height-slider: 400px;
$portrait-width: 160px;
$background-opacity: 0.5;

/**alerts**/

$bck-alert-info: #3b3b39;
$bck-alert-warning: #3a302c;
$bck-alert-success: #0c1808;
/**buttons*/

$btn-background-color: $fortyColor;
$btn-border-color: $primaryColor;
$btn-border-color-hover: $fortyColorAccent;
$btn-cards-background-color-hoover: lighten($btn-border-color-hover, 20%);
