/*---------------VARIABLES----------------*/

/*colors*/
$primaryColor: #444;
$primaryAccent: rgb(85, 77, 77);
$secondColor: #b6b5be;
$secondColorAccent: #f5ecd0;
$thirtyColor: #e2c043;
$thirtyColorAccent: #fdb27c;
$textColor: #470742;
$textColorGold: #5d4214;
$textColorAlt: #1b0219;
$textColorAccent: #c7c0b5;
$textColorAlt: #1b0219;
$textColorLight: #d1e4e4;
$textColorDark: #010f0f;

//body
$colorBg: #fcfcfc;
$lines-bg: #c7c0b7;
$colorBorder: #fcfdfe;

/*STRUCTUE*/
$max-width: 1344px;

/*footer*/
$primary-light-blue: #83b6f3;
$primary-line-color: #ccc;

/*header*/
$pos-top: 1vh;
//$pos-right: 2rem;
$pos-bottom: 2rem;
$m-w: 40px;
$m-h: 40px;
$header-height: 17vh;

/*Other elements*/
$back-body: rgba(darken($secondColor, 1%), 0.5);
$height-footer: 150px;
$back-footer-home: darken($primaryAccent, 5.5%);
$back-footer-about: darken($primaryAccent, 6%);
$back-footer-studio: darken($primaryAccent, 6.5%);
$back-footer-class: darken($primaryAccent, 7%);
$back-footer-teacher: darken($primaryAccent, 7.5%);
$back-footer-student: darken($primaryAccent, 8%);
$back-footer-advantage: darken($primaryAccent, 8.5%);
$back-footer-albuns: darken($primaryAccent, 9%);

$back-header: rgba(darken(rgba(40, 55, 58, 0.7), 3%), 0.85);
$back-portrait: rgba(40, 55, 58, 0.7);
$back-nav: rgba(darken(rgba(40, 55, 58, 0.7), 3%), 0.75);
$show-img-home: true;
$big-img-url-home: url('../../public/images/banners/big-img-home.jpg');

$show-img-space: true;
$big-img-url-space: url('../../public/images/banners/big-img-space.jpg');

$show-img-instructor: true;
$big-img-url-instructor: url('../../public/images/banners/big-img-teacher.jpg');

$show-img-class: true;
$big-img-url-class: url('../../public/images/banners/big-img-class.jpg');

$show-img-about: true;
$big-img-url-about: url('../../public/images/banners/big-img-about.jpg');

$show-img-advantage: true;
$big-img-url-advantage: url('../../public/images/banners/big-img-advantage.jpg');

$show-img-student: true;
$big-img-url-student: url('../../public/images/banners/big-img-student.jpg');

$show-img-video: true;
$big-img-url-video: url('../../public/images/banners/big-img-video.jpg');

$show-avatar-space: true;
$avatar-space: url('../../public/images/pictures/img-muraguti-space.jpg');

$show-avatar: true;
$avatar-url: url('../../public/images/pictures/img-muraguti.jpg');


/** depoiments*/
$height-slider: 400px;
$portrait-width: 160px;
$background-opacity: 0.5;

/**buttons*/
$btn-background-color: #853002;
$btn-border-color: #99a7b3;
$btn-border-color-hover: #0d3350;
$btn-cards-background-color-hoover: lighten($btn-border-color-hover,20%);