.il-about--content {
  padding: 0.45rem;
  & p {
    font-family: $heading-font;
    font-size: 0.8rem;
    line-height: 1.19rem;
  }
  &.il-nopadding{
    padding: 0;
  }
  & .il-box--items{
    display: flex;
    & .il-item{
      flex: 1;
      padding: 0 .45rem;
      margin: 0 .25rem;
      & i{
        font-size: 1.8rem;
      }
    }
  }
}
