.il-about--content {
  padding: 0.45rem;
  &.il-nopadding{
    padding: 0;
  }
  & .il-box--items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 0.95rem;
    grid-row-gap: 0.45rem;
    & .il-item{
      background: $primaryAccent;
      padding: 0.45rem;
      box-shadow: 3px 5px 2px rgba(66, 44, 44, 0.7);
    }
  }
}
