section#studio,
section#events,
section#course{
    visibility: hidden;
    transition: all 550ms ease-out;
    &.showAlbum{
        visibility: visible;
        transition: all 550ms ease-out;
    }
}

.il-albuns--content{
    width: 100%;
    & .il-album--cards{
        border: 2px solid $colorBorder;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .25rem;
    }
    &.il-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(170px, 320px));
        grid-gap: .35rem;
        align-items: center;
        justify-content: center;
    }
    & .il-cards--photo{
        width: 100%;
        text-align: center;
        & img {
            margin: auto;
            min-width: 166px;
            max-width:200px;
        }
    }
    & .il-cards--body{
        margin-top: .15rem;
        padding: .25rem;
    }
    & .il-cards--footer{
        padding: .45rem;;
    }
}