section.il-section--depoiments {
  position: relative;
  & .il-depoiments--navigation {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    & i {
      padding: 0.45rem;
      cursor: pointer;
      &:hover {
        color: #3f3e39;
        opacity: 0.9;
      }
    }
  }

  & .il-depoiments--slider {
    padding: 1rem;
    position: relative;
    overflow: hidden;
    height: $height-slider;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    & .il-depoiment--item {
      position: absolute;
      width: 100%;
      opacity: 0;
      left: 0;
      transition: all 2s ease-out;
      display: flex;
      flex-direction: column;
      align-items: center;
      &.il-item--active,
      &:first-child {
          
      transition: all 2s ease-out;
        top: 5%;
        transition: all 2s ease-out;
        opacity: 1;
        left: 50%;
        transform: translateX(-50%);
      }
      & .il-item--picture {
        margin-bottom: 1rem;
        max-width: $portrait-width;
        & img {
          margin: auto;
        }
      }

      & .il-item--social {
        margin-bottom: 0.45rem;
        max-width: $portrait-width;
        & a.il-styles--social__link {
          padding: 0.25rem;
        }
      }

      & .il-item--info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
        min-height: 7rem;
        & .il-info--caption{
            text-align: center;
            font-weight: 400;
        }
      }
    }
  }
}
