section.il-section--submission {
  position: relative;
  margin-top: 20%;
  transform: translateY(-50%);
}
.il-email--content {
  background: $secondColorAccent;
  opacity: 0.7;
}

section.il-bars {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, auto);
  z-index: 5;
  .il-bars--items {
    background: $thirtyColor;
    width: 0;
    height: 0;
    // z-index: -1;
    opacity: 0.6;
  }
}
