footer.il-footer {
  position: fixed;
  bottom: 0;
  z-index: 108;
  transform: translateY(220px);
  transition: all 1s ease-out;
  //width: 100%;
  height: 220px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  opacity: 0.9;
  &--col {
    padding: 0.45rem;

    & ul.il-footer--list {
      margin-top: 1rem;
      & li.il-footer--item {
        text-align: center;
        &:first-child {
          text-transform: uppercase;
          padding-bottom: 0.45rem;
          letter-spacing: 4px;
          font-weight: 500;
        }
      }
    }
  }
  &.il-footer--home {
    background: $back-footer-home;
    & li.il-footer--item a.il-footer--link {
      color: $colorBorder;//rgb(36, 36, 44);
    }
  }

  &.il-footer--about {
    background: $back-footer-about;
    & li.il-footer--item a.il-footer--link {
      color: $colorBorder;//rgb(168, 59, 8);
    }
  }

  &.il-footer--studio {
    background: $back-footer-studio;
    & li.il-footer--item a.il-footer--link {
      color: $colorBorder;//rgb(115, 115, 185);
    }
  }

  &.il-footer--class {
    background: $back-footer-class;
    & li.il-footer--item a.il-footer--link {
      color: $colorBorder;// rgb(19, 19, 59);
    }
  }

  &.il-footer--teacher {
    background: $back-footer-teacher;
    & li.il-footer--item a.il-footer--link {
      color: $colorBorder;//rgb(12, 12, 63);
    }
  }

  &.il-footer--student {
    background: $back-footer-student;
    & li.il-footer--item a.il-footer--link {
      color: $colorBorder;//rgb(155, 93, 22);
    }
  }

  &.il-footer--advantage {
    background: $back-footer-advantage;
    & li.il-footer--item a.il-footer--link {
      color: $colorBorder;//rgb(155, 93, 22);
    }
  }

  &.il-footer--albuns {
    background: $back-footer-albuns;
    & li.il-footer--item a.il-footer--link {
      color: $colorBorder;//rgb(155, 93, 22);
    }
  }

  &.il-footer--show {
    transform: translateY(0);
    transition: 4s;
  }
}
