footer.il-footer {
  width: 100%;
  z-index: 101;
  position: relative;
  height: $height-footer;
  // background: $back-footer;
  & .il-footer--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    & .il-footer--top,
    & .il-footer--bottom {
      padding: 0 0 1rem 0;
      width: 100%;
      color: $primaryColor;
    }

    & .il-footer--top {
      height: 100px;
      & .il-footer--breadcrumb {
        margin: 0.35rem auto;
        display: flex;
        justify-content: center;
        font-size: 1.35rem;
        height: 1.2rem;
        font-weight: 800;
        height: 40px;
        & span {
          display: block;
          margin-left: 0.55rem;
          text-transform: uppercase;
        }
      }
      & .il-footer--cols {
        display: flex;
        margin: 0 0.5rem;
        justify-content: center;
        & .il-footer--col {
          flex: 1;
        }
      }
      &.il-home {
        background: $back-footer-home;
        & li.il-footer--item a.il-footer--link {
          color: $colorBorder;
        }
      }
    
      &.il-about {
        background: $back-footer-about;
        & li.il-footer--item a.il-footer--link {
          color: $colorBorder;
        }
      }
    
      &.il-studio {
        background: $back-footer-studio;
        & li.il-footer--item a.il-footer--link {
          color: $colorBorder;
        }
      }
    
      &.il-class {
        background: $back-footer-class;
        & li.il-footer--item a.il-footer--link {
          color: $colorBorder;
        }
      }
      &.il-teacher {
        background: $back-footer-teacher;
        & li.il-footer--item a.il-footer--link {
          color: $colorBorder;
        }
      }
      &.il-student {
        background: $back-footer-student;
        & li.il-footer--item a.il-footer--link {
          color: $colorBorder;
        }
      }
    }
    & .il-footer--bottom {
      padding: 0;
      text-align: center;
      height: 100%;
      background: $back-footer-bottom;
      border-top: 1px solid darken($back-footer,10%);
      & .il-footer--copy {
        line-height: 49px;
        & a {
          font-weight: 100;
        }
      }
    }
  }
}
