.il-header {
  width: 100%;
  position: absolute;
  height: $header-height;
  top: 0;
  z-index: 100;
  @include easeOut;
  &.active {
    height: 100vh;
    @include easeOut;
    &:after {
      @include overlay(#5a5646,'../../public/images/theme/dott.png',.5);
    }
  }
  @import '_header-component/nav-menu';
  @import '_header-component/content';
}
