.il-section--home {
  position: relative;
  & .il-home--content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    & .il-home--slide{
      opacity: .9;
      &.il-absolute{
        position: absolute;
        top: 0;
        opacity: .5;
      }
    }
  }
  & p {
    text-align: left;
    & i {
      margin-right: .35rem;
    }
  }
  & .il-icons {
    display: flex;
    justify-content: flex-end;
    & a {
      display: block;
      &:hover {
        color: $thirtyColor;
        @include easeOut();
      }
    }
  }
}
