.il-section--home {
  
  & p {
    text-align: left;
    & i {
      margin-right: .35rem;
    }
  }
  & .il-icons {
    display: flex;
    justify-content: flex-end;
    & a {
      display: block;
      &:hover {
        color: $thirtyColor;
        @include easeOut();
      }
    }
  }
}
