.il-instructor--content {
  padding: 0.45rem 0;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  justify-content: center;
  & .il-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 0.25rem;
    border: 2px solid $thirtyColorAccent;
    border-radius: 3px;
    & .il-card--header {
      display: flex;
      width: 100%;
      height: 140px;
      max-height: 140px;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      flex: 1 0 auto;
      padding: 0.45rem 0.35rem;
      & h4.il-card--header__title {
        margin: 0;
        color: $primaryColor;
        font-weight: 400;
        text-transform: uppercase;
      }
      & img {
        display: block;
        max-width: 90px;
        border-radius: 50%;
      }
    }
    &:nth-child(1) {
      background-color: darken($back-cards, 5%);
      & .il-card--header {
        background-color: lighten($back-cards, 12%);
      }
    }
    &:nth-child(2) {
      background-color: darken($back-cards, 7%);
      & .il-card--header {
        background-color: lighten($back-cards, 15%);
      }
    }
    &:nth-child(3) {
      background-color: darken($back-cards, 9%);
      & .il-card--header {
        background-color: lighten($back-cards, 20%);
      }
    }
    & .il-card--content {
      padding: 0;
      p.il-card--description {
        padding: 0.45rem 0.35rem;
        font-size: 0.85rem;
        text-align: justify;
        letter-spacing: 1px;
      }
    }
    & .il-card--footer {
      height: 2.2rem;
      display: flex;
      justify-content: flex-end;
      flex-shrink: 0;
      & i {
        text-align: center;
        position: relative;
        right: 1rem;
        border: 1px solid $textColorVeryLight;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 29px;
        cursor: pointer;
        &:hover {
          background: $textColorGold;
          color: $textColor;
        }
        &.moveRight {
          animation-name: moveRight;
          animation-duration: 0.2s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in;
        }

        @keyframes moveRight {
          from {
            right: 20px;
          }
          to {
            right: 15px;
          }
        }

        &.moveLeft {
          animation-name: moveLeft;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-out;
        }

        @keyframes moveLeft {
          from {
            right: 15px;
          }
          to {
            right: 20px;
          }
        }
      }
    }
  }
}
