section.il-modal {
  position: absolute;
  width: 92%;
  height: auto;
  top: 20%;
  left: 4%;
  transition-delay: 450ms;
  opacity: 0;
  visibility: hidden;
  z-index: -2;
  padding: 1rem;
  border: 1px solid $back-portrait;
  z-index: 1000;
  transition: all 550ms ease-out;
  & form.il-form {
    padding: 0.45rem;
    max-width: 700px;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }

  &.showModal {
    z-index: 201;
    width: 92%;
    left: 4%;
    transform: translateX(0);
    transition: all 550ms ease-out;
    opacity: 0.9;
    visibility: visible;
  }
}
