.il-videos--content {
  position: relative;

  &.il-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 110px));
    grid-column-gap: 4px;
    @media screen and (min-width: 501px) and (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 120px));
      grid-column-gap: 6px;
    }
    @media screen and (min-width: 769px) and (max-width: 1170px) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 140px));
      grid-column-gap: 8px;
    }
    @media screen and (min-width: 1171px) {
      grid-template-columns: repeat(auto-fit, minmax(120px, 160px));
      grid-column-gap: 9px;
    }
    justify-content: center;
  }

  & .il-videos--cards {
    padding: 0.15rem;
    background: #decaaa;
    & .il-cards--caption {
      padding: 0.35rem 0;
      color: #533606;
      min-height: 4rem;
      font-size: .75rem;
      @media screen and (min-width: 501px) and (max-width: 768px) {
        font-size: .85rem;
      }
      @media screen and (min-width: 1171px) {
        font-size: .9rem;
      }
    }
    & .il-cards--bottom {
      padding-bottom: 0.45rem;
      text-align: center;
      & span.il-btn--video {
        margin: auto;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        background-image: url('../../public/images/theme/youtube-play.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        cursor: pointer;
        transition: 450ms;
        animation: pulse infinite 3s;
        &:hover {
          transition: 450ms;
          transform: scale(1.1);
        }
      }
    }
  }
}
.il-player {
  position: absolute;
  background: #ccbe6c;
  transition: top 0.15s ease;
  & i {
    visibility: hidden;
    color: rgb(56, 41, 41);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 30px;
    height: 30px;
    background: rgb(221, 213, 141);
    border-radius: 50%;
  }
  &.show {
    transition: top 0.15s ease;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & i{
      cursor: pointer;
      visibility: visible;
      top: 0;
    }
  }

  & iframe {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), 0 0 25px rgba(0, 0, 0, 0.3);
    transition: width 0.15s ease;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.85);
  }
}
