.il-videos--content {
  position: relative;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  justify-content: center;
  & .il-card--video {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 0.25rem;
    border: 2px solid $thirtyColorAccent;
    border-radius: 3px;
    & .il-card--header {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      flex: 1 0 auto;
      //padding: 0.45rem 0.35rem;
      & h4.il-card--header__title {
        margin: 0;
        color: $primaryColor;
        font-weight: 400;
        text-transform: uppercase;
      }
      & img {
        display: block;
      }
    }
    &:nth-child(1) {
      background-color: darken($back-cards, 5%);
      & .il-card--header {
        background-color: lighten($back-cards, 12%);
      }
    }
    &:nth-child(2) {
      background-color: darken($back-cards, 7%);
      & .il-card--header {
        background-color: lighten($back-cards, 15%);
      }
    }
    &:nth-child(3) {
      background-color: darken($back-cards, 9%);
      & .il-card--header {
        background-color: lighten($back-cards, 20%);
      }
    }
    &:nth-child(4) {
      background-color: darken($back-cards, 11%);
      & .il-card--header {
        background-color: lighten($back-cards, 23%);
      }
    }
    &:nth-child(5) {
      background-color: darken($back-cards, 14%);
      & .il-card--header {
        background-color: lighten($back-cards, 25%);
      }
    }
    & .il-card--content {
      padding: 0;
      p.il-card--description {
        padding: 0 0.35rem;
        font-size: 0.85rem;
        text-align: justify;
        letter-spacing: 1px;
      }
    }
    & .il-card--footer {
      padding: 0.35rem 0;
      display: flex;
      justify-content: flex-end;
      flex-shrink: 0;
      & span.il-btn--video {
        margin: auto;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        background-image: url('../../public/images/theme/youtube-play.png');
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        cursor: pointer;
        transition: 450ms;
        animation: pulse infinite 3s;
        &:hover {
          transition: 450ms;
          transform: scale(1.1);
        }
      }
      & i {
        text-align: center;
        position: relative;
        right: 1rem;
        border: 1px solid $textColorVeryLight;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 29px;
        cursor: pointer;
        &:hover {
          background: $textColorGold;
          color: $textColor;
        }
        &.moveRight {
          animation-name: moveRight;
          animation-duration: 0.2s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in;
        }

        @keyframes moveRight {
          from {
            right: 20px;
          }
          to {
            right: 15px;
          }
        }

        &.moveLeft {
          animation-name: moveLeft;
          animation-duration: 0.4s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-out;
        }

        @keyframes moveLeft {
          from {
            right: 15px;
          }
          to {
            right: 20px;
          }
        }
      }
    }
  }

  /*position: relative;
  &.il-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 110px));
    grid-column-gap: 4px;
    @media screen and (min-width: 501px) and (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 120px));
      grid-column-gap: 6px;
    }
    @media screen and (min-width: 769px) and (max-width: 1170px) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 140px));
      grid-column-gap: 8px;
    }
    @media screen and (min-width: 1171px) {
      grid-template-columns: repeat(auto-fit, minmax(120px, 170px));
      grid-column-gap: 9px;
    }
    justify-content: center;
  }*/
}
.il-player {
  position: absolute;
  background: #ccbe6c;
  transition: top 0.15s ease;
  & i {
    visibility: hidden;
    color: rgb(56, 41, 41);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 30px;
    height: 30px;
    background: rgb(221, 213, 141);
    border-radius: 50%;
  }
  &.show {
    transition: top 0.15s ease;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & i{
      cursor: pointer;
      visibility: visible;
      top: 0;
    }
  }

  & iframe {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15), 0 0 25px rgba(0, 0, 0, 0.3);
    transition: width 0.15s ease;
  }
}
/* & .il-videos--cards {
    padding: 0.15rem;
    display: flex;
    flex-direction: column;
    & .il-cards--caption {
      padding: 0.35rem 0;
      color: #533606;
      min-height: 4rem;
      font-size: .75rem;
      @media screen and (min-width: 501px) and (max-width: 768px) {
        font-size: .85rem;
      }
      @media screen and (min-width: 1171px) {
        font-size: .9rem;
      }
    }
    & .il-cards--bottom {
      padding-bottom: 0.45rem;
      text-align: center;
      
    }
  }
}
 */

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.85);
  }
}
