section.il-section--videos {
  position: relative;
  .il-videos--content {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 0.35rem;
    justify-content: center;
    cursor: pointer;
    transition: all 550ms;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(190px, 196px));
    }

    & .il-card--video {
      width: 186px;
      position: relative;
      background: lighten($secondColor, 10%);
      @media screen and (min-width: 768px) {
        width: auto;
      }
      display: flex;
      flex-direction: column;
      border: 2px solid $dark;
      border-radius: 3px;
      & .il-card--header {
        width: 100%;
        height: 110px;
        & img {
          display: block;
        }
      }
      & .il-card--content {
        position: absolute;
        height: 100px;
        opacity: 0;
        background: white;
        padding: 0;
        p.il-card--description {
          padding: 0 0.35rem;
          font-size: 0.85rem;
          text-align: justify;
          letter-spacing: 1px;

          color: black;
        }
      }
      & .il-card--footer {
        //position: relative;
        background: $secondColor;
        padding: 0.35rem 0;
        display: flex;
        justify-content: flex-end;
        flex-shrink: 0;
        & span.il-btn--video {
          margin: auto;
          width: 40px;
          height: 40px;
          border: none;
          background-color: transparent;
          background-image: url('../../public/images/theme/youtube-play.png');
          background-size: contain;
          background-repeat: no-repeat;
          display: block;
          cursor: pointer;
          transition: 450ms;
          animation: pulse infinite 3s;
          &:hover {
            transition: 450ms;
            transform: scale(1.1);
          }
        }
        & i {
          text-align: center;
          position: relative;
          right: 1rem;
          border: 1px solid $textColorVeryLight;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          line-height: 29px;
          cursor: pointer;
          &:hover {
            background: $textColorGold;
            color: $textColor;
          }
          &.moveRight {
            animation-name: moveRight;
            animation-duration: 0.2s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in;
          }

          @keyframes moveRight {
            from {
              right: 20px;
            }
            to {
              right: 15px;
            }
          }

          &.moveLeft {
            animation-name: moveLeft;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
          }

          @keyframes moveLeft {
            from {
              right: 15px;
            }
            to {
              right: 20px;
            }
          }
        }
      }
      &:hover {
        transition: all 550ms;
        height: 268px;
      }
      &:hover .il-card--content {
        transition: all 650ms;
        opacity: 1;
        bottom: 0;
      }
    }
  }
  & .il-player {
    position: absolute;
    top: -50%;
    transition: top 0.15s ease;
    & .il-video--youtube {
      position: relative;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      padding: 3px;
      & i {
        visibility: hidden;
        color: $primaryColor;
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translate(-50%);
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: #45222a;
        border-radius: 50%;
      }
      & iframe {
        border: 0;
        position: relative;
      }
    }
    &.show {
      top: 0;
      transition: top 650ms ease;
      left: 50%;
      height: 100%;
      transform: translateX(-50%);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: $primaryColor;
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.15),
        0 0 25px rgba(0, 0, 0, 0.3);
      transition: width 450ms ease;
      & .il-video--youtube i {
        cursor: pointer;
        visibility: visible;
        top: -30px;
      }
    }
  }
}
/*
.il-video--youtube{
    
    & iframe {
        i {
      visibility: hidden;
      color: $textColorAccent;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      width: 30px;
      height: 30px;
      background: $textColorGold;
      border-radius: 50%;
    }
    &.show {
      transition: top 0.15s ease;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translateX(-50%);
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      & .il-video--youtube i {
        cursor: pointer;
        visibility: visible;
        top: 0;
      }
    }
    
    & .il-player--video > div {
      height: 480px;
      margin: auto;
      position: relative;
      
    }
}
*/
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.85);
  }
}
