$fi-filename   : "flaticon";
$fi-font-name  : "Flaticon";
$fi-font-family: "flaticon";
$fi-font-path  : "../fonts" !default;
$fi-css-class: "flaticon-";
$fi-css-class-space: " flaticon-";
$fi-css-prefix : fi !default;