*,
*:before,
*:after {
  box-sizing: border-box;
}

//big images

#app.big-img-home {
  @include big-img($show-img-home, $big-img-url-home);
}

#app.big-img-about {
  @include big-img($show-img-about, $big-img-url-about);
}

#app.big-img-studio {
  @include big-img($show-img-space, $big-img-url-space);
}

#app.big-img-instructor {
  @include big-img($show-img-instructor, $big-img-url-instructor);
}

#app.big-img-class {
  @include big-img($show-img-class, $big-img-url-class);
}

#app.big-img-student {
  @include big-img($show-img-student, $big-img-url-student);
}

#app.big-img-advantage {
  @include big-img($show-img-advantage, $big-img-url-advantage);
}

#app.big-img-video {
  @include big-img($show-img-video, $big-img-url-video);
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote {
  padding-left: 0.45rem;
  border-left: 2px solid $primaryColor;
  font-weight: 400;
  letter-spacing: 1.6px;
}

a.generic-anchor {
  color: $primary-light-blue;
  &:visited {
    color: $primary-light-blue;
  }
  &:hover {
    color: $primary-line-color;
  }
}

.il-modal--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all 550ms ease-out;
  &.active-modal {
    width: 100vw;
    height: 100vh;
    z-index: 200;
    transition: all 550ms ease-out;
  }
}
