@function calcPX() {
  $result: 100vh - $header-height;
  @return $result;
}


#app {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  overflow-y: hidden;
  &:after {
    @include overlay($app-overlay, $overlay-img, $opacity-overlay);
  }
}
.il-container, 
main .il-container {
  z-index: 98;
  width: 100%;
  position: relative;
  padding-bottom: 1rem;
  padding-top: $header-height;
  .il-container--wrapper {
    max-width: $max-width;
    @media screen and (max-width: 360px) {
      $container: 100%;
      width: $container;
      margin: 0;
    }

    @media screen and (min-width: 361px) and (max-width: 500px) {
      $container: 96%;
      $lat: (100% - $container) / 2;
      width: $container;
      margin: 0 $lat;
    }

    @media screen and (min-width: 501px) and (max-width: 768px) {
      $container: 92%;
      $lat: (100% - $container) / 2;
      width: $container;
      margin: 0 $lat;
    }

    @media screen and (min-width: 769px) and (max-width: 1170px) {
      $container: 88%;
      $lat: (100% - $container) / 2;
      width: $container;
      margin: 0 $lat;
    }

    @media screen and (min-width: 1171px) {
      $container: 80%;
      $lat: (100% - $container) / 2;
      width: $container;
      margin: 0 $lat;
    }
  }
}
.il-container.il-header--container{
  padding: 0;
  top: .35rem;
}
div.il-margin--top,
li.il-margin--top{
  margin-top: 1.5rem;
}
div.il-margin--bottom,
li.il-margin--bottom{
  margin-bottom: 1.5rem;
}
div.il-box,
li.il-box {
  border: 2px solid $colorBorder;
  padding: 0.45rem;
  display: flex;
  flex-wrap: wrap;
  & p {
    text-align: justify;
    padding: 0 0.45rem;
  }
  & span{
    display: block;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
  }
}
