.il-header--main {
  position: relative;
  width: $container;
  padding: $pos-top 0;
  & .il-header--brand img {
    @include easeOut;
    width: $brand-swsmall;
    height: $brand-shsmall;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    @media screen and (min-width: 480px) {
      @include easeOut;
      margin-left: 0;
      margin-top: $pos-top;
    }
  }
  & .il-header--menu {
    position: fixed;
    width: $m-w;
    height: $m-h;
    background: $fortyColor;
    top: 2 * $m-h;
    right: 50%;
    transform: translateX(-50%);
    transform: translateX(-50%);
    @media screen and (min-width: 361px) and (max-width: 500px) {
      right: 3%;
      top: 24px;
      transform: translateX(-50%);
    }
    @media screen and (min-width: 501px) and (max-width: 768px) {
      right: 4%;
      top: 24px;
      transform: translateX(-50%);
    }
    @media screen and (min-width: 769px) and (max-width: 1170px) {
      right: 6%;
      top: 24px;
      transform: translateX(-50%);
    }
    @media screen and (min-width: 1171px) and (max-width: 1343px) {
      right: 10%;
      top: 24px;
      transform: translateX(-50%);
    }
    @media screen and (min-width: 1344px) {
      top: 24px;
      transform: translateX(50%);
    }
    border-radius: 3px;
    z-index: 4;
    border: 1px solid white;
    padding-top: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    @include easeOut;
    &:hover {
      @include easeOut;
      background: #e99c0e;
    }
    & .il-menu--line {
      @include easeOut;
      height: 3px;
      background: $secondColorAccent;
      margin: 3px;
    }
    &.radius {
      padding-top: 5px;
      border-radius: 50%;
      @include easeOut;
      & .il-menu--line {
        @include easeOut;
        margin: 3px 6px;
        background: #ececd2;
        &.deform {
          padding: 0;
          &:nth-child(1) {
            margin-top: 7px;
            transform: rotate(45deg) translate(4px, 4px);
          }
          &:nth-child(2) {
            margin-top: 0px;
            transform: rotate(-45deg) translate(0px, 0px);
          }
          &:nth-child(3) {
            opacity: 0;
          }
        }
      }
    }
  }
}
