#app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  &.il-app--perc {
    height: 100%;
  }
  overflow-y: hidden;
  &:before {
    content: '';
    position: absolute;
    background: rgba(138, 108, 43, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/images/theme/dott.png');
    background-position: center top;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0.5;
  }
  & main.il-main {
    position: relative;
    padding-top: $header-height;
    height: calc(100vh - #{$header-height});
    @include easeOut;
    &.il-main--perc {
      @include easeOut;
      height: calc(100% - #{$header-height});
    }
  }
  & .il-container--wrapper {
    max-width: $max-width;
    @media screen and (max-width: 360px) {
      $container: 100%;
      width: $container;
      margin: 0;
    }
    @media screen and (min-width: 361px) and (max-width: 500px) {
      $container: 96%;
      $lat: (100% - $container) / 2;
      width: $container;
      margin: 0 $lat;
    }
    @media screen and (min-width: 501px) and (max-width: 768px) {
      $container: 92%;
      $lat: (100% - $container) / 2;
      width: $container;
      margin: 0 $lat;
    }
    @media screen and (min-width: 769px) and (max-width: 1170px) {
      $container: 88%;
      $lat: (100% - $container) / 2;
      width: $container;
      margin: 0 $lat;
    }
    @media screen and (min-width: 1171px) {
      $container: 80%;
      $lat: (100% - $container) / 2;
      width: $container;
      margin: 0 $lat;
    }
  }
}
