.il-alert {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.45rem 0;
  
  & i {
    margin: 0.4rem auto;
  }
 
  & p {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    color: $fortyColor;
    text-transform: uppercase;
  }

  &--info {
    background: $bck-alert-info;
  }
  &--success {
    background: $bck-alert-success;
  }
  &--warning {
    background: $bck-alert-warning;
  }
}
