/** BACKGROUND IMAGES*/

#app.big-img-home {
  @include big-img($show-img-home, $big-img-url-home);
}

/**Backgrounds*/
.il-color--background__default {
  background: $primaryAccent;
}
.il-color--background__lightgray {
  background: rgb(224, 222, 222);
}
.il-color--background__light {
  background: $secondColor;
}

.il-color--background__verylight {
  background: $secondColorAccent;
}

.il-color--background__clean {
  background: #d0d1ab;
}

.il-color--background__modal {
  background: rgb(248, 248, 247);
}
.il-color--background__header {
  background: #454343;
}
.il-color--background__lighten {
  background: #f0ecdd;
}
.il-color--background__modal-content {
  background: $thirtyColor;
}

.il-color--background__dark {
  background: $dark;
}

.il-color--background__darken {
  background: #110f08;
}
