.il-box--items {
  display: block;
  &.il-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 0.95rem;
    grid-row-gap: 0.45rem;
    &.one-item {
      grid-template-columns: auto;
    }
    &.il-box--vert {
      grid-template-columns: 300px;
      grid-template-rows: 1fr 1fr;
      justify-content: flex-end;
      &.one-vert {
        grid-template-rows: auto;
      }
    }
    align-content: center;
  }
  & .il-item {
    display: flex;
    flex-direction: column;
    position: relative;
    &.il-box {
      background: transparent !important;
      padding: 0.45rem;
      border-radius: 3px;
      &.no-background {
        background: transparent !important;
        & p {
          color: #434343;
          text-align: left;
        }
      }
      & ul.il-icons {
        padding: 1rem 0;
        font-size: 1.2rem;
        & li a {
          color: gold;
          font-weight: bolder;
        }
      }
      & .il-video {
        position: absolute;
        width: 100%;
        height: 100%;
        visibility: hidden;
        z-index: 3;
        & a.il-close {
          position: relative;
          display: block;
          left: 50%;
          transform: translateX(-50%);
          top: 5px;
          width: 30px;
          height: 30px;
          background: rgb(34, 17, 17);
          border-radius: 50%;
          line-height: 30px;
          text-align: center;
        }
        &.video0 {
          top: 50%;
          &.show {
            visibility: visible;
          }
        }
        &.video1 {
          top: -50%;
          &.show {
            visibility: visible;
          }
        }
        &.video2 {
          top: -200%;
          &.show {
            visibility: visible;
          }
        }
        & iframe {
          margin-left: 50%;
          transform: translateX(-50%);
          width: 500px;
          height: 500px;
        }
      }
      & .il-header--box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & h4 {
          width: 100%;
          border-bottom: 1px solid $colorBorder;
        }
      }
      & span {
        display: block;
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}
