.il-pricing--grid {
  display: grid;
  padding-top: 1rem;
  grid-template-rows: repeat(auto-fit,minmax(155px,185px));
  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fit,minmax(155px,185px));
  }
  grid-gap: .45rem;
  justify-content: center;
  transition: all 450ms ease-in; 
 & .il-plan {
  @include pricesGradient();
  transition: all 450ms ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  min-height: 155px;
  max-height: 185px;
  box-shadow: 2px 10px 8px #718174;
  & h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7rem;
    @media screen and (min-width: 600px) {
      font-size: 0.75rem;
    }
    font-weight: 500;
    margin-top: 10px;
    margin-left: 30px;
  }
  & p.il-price {
    margin: 5px 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    & span:first-child {
      font-size: 1.3rem;
    }
  }
  & a{
    font-size: .77rem;
  }
 }
}
