/* flex container */
.il-pricing--grid {
  display: flex;
  margin: 0 auto;
  max-width: 986px;
  align-items: stretch;
  & .il-plan {
    border: 2px solid $colorBorder;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    transition: all 450ms ease-in;
    cursor: pointer;
    &:hover {
      transition: all 450ms ease-in;
      transform: scale(1.03);
      & a {
        transition: all 450ms ease-in;
        transform: scale(0.89);
        background: rgb(235, 170, 31);
        color: black;
      }
    }
    & > * {
      flex: 1 1 100%;
    }
    & h2 {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 500;
    }
    & p {
      text-align: center;
      &.il-price {
        font-size: 1.6rem;
        letter-spacing: 1px;
        & span {
          display: block;
          width: 100%;
          font-size: 0.95rem;
          font-weight: 100;
          letter-spacing: 0;
        }
      }
      &.il-description {
        font-size: 0.95rem;
      }
    }
    & a {
      transition: all 450ms ease-in;
    }
  }
}
