input[type='submit'],
a.il-btn,
button.il-btn {
  font-size: 0.9rem;
  word-spacing: 2px;
  font-weight: 700;
  padding: 0.5rem 1.3rem;
  background-color: $btn-background-color;
  text-transform: uppercase;
  border: 1px solid $btn-border-color;
  transition: all 0.5s;
  max-width: $max-width;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  &.left {
    margin-left: 0;
  }
  &.right {
    margin-right: 0;
  }
  &.auto {
    margin: auto;
  }
  &.very-bigger {
    width: 340px;
    @media screen and (min-width: 1171px) {
      width: 380px;
    }
  }
  &.bigger {
    width: 240px;
    @media screen and (min-width: 1171px) {
      width: 280px;
    }
  }
}

input[type='submit']:focus,
a.il-btn:focus,
button.il-btn:focus,
a.il-btn:hover,
button.il-btn:hover,
input[type='submit']:hover {
  background-color: $btn-background-color;
  border: 1px solid $btn-border-color-hover;
}
a.il-btn--cards,
button.il-btn--cards {
  color: $secondColor;
  background-color: rgb(51, 12, 12);
  &:focus,
  &:hover {
    background-color: $btn-cards-background-color-hoover;
    border: none;
  }
  &:active {
    transform: scale(1.1);
  }
}
a.il-btn--cards__price,
button.il-btn--cards__price {
  padding: 0.3rem 0.4rem;
  //border-radius: 60% 0 60% 0;
  color: #434545;
  background: none !important;
  //background-color: rgb(145, 233, 189);
  max-width: 140px;
  margin-right: 60px;
  font-size: 0.75rem;
  border: none;
  &:focus,
  &:hover {
    background-color: $btn-cards-background-color-hoover;
  }
  &:active {
    transform: scale(1.1);
  }
}

a.il-btn--empty,
button.il-btn--empty {
  background-color: transparent;
  &:focus,
  &:hover {
    border: none;
    color: white;
  }
  &:active {
    transform: scale(1.1);
  }
}
