/*---------------TEXT COLORS AND BACKGROUN COLORS----------------*/

/**Colors*/
.il-color--text {
  color: $textColor;
}
.il-color--text__light-grey {
  color: $textColorLightGray;
}
.il-color--text__light {
  color: $textColorLight;
}

.il-color--text__very-light {
  color: $textColorVeryLight;
}

.il-color--text__dark {
  color: $fortyColor;
  font-weight: bolder;
}
.il-color--text__very-dark {
  color: $textColorDark;
}
.il-color--text__accent{
  color: $textColorAccent;
}

.il-color--text__gold{
  color: $textColorGold;
}

.il-color--text__thirty {
  color: $thirtyColor;
}

.il-color--text__alt {
  color: $textColorAlt;
}

