.il-cv--contents {
  position: relative;
  height: 100%;
  & .il-cv {
    transition: all 450ms;
    width: 100%;
    position: relative;
    top: -12vh;
    //left: -100%;
    //opacity: 0.87;
    @media screen and (max-width: 1023px) {
      max-width: 90%;
      transition: all 450ms;
    }
    @media screen and (min-width: 1024px) {
      max-width: 70%;
      transition: all 450ms;
    }
    @media screen and (min-width: 1200px) {
      max-width: 60%;
      transition: all 450ms;
    }
    margin: auto;
    & .il-cv--items {
      border: 2px solid $fortyColor;
      padding: 0 1rem;
      position: relative;
      text-align: center;
      opacity: 0;
      height: 0;
      background: #bdb4b4; //$fortyColor;
      &.cv-show {
        left: 0;
        position: absolute;
        opacity: 1;
        height: auto;
      }
      &.cv-hidden {
        left: -100%;
        opacity: 0;
        height: 0;
      }

      & .il-cv--profile {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: auto;
        & img {
          display: block;
          max-width: 80px;
          border-radius: 50%;
          border: 2px solid $thirtyColor;
        }
      }
      & .il-cv--name,
      & .il-cv--info,
      & .il-cv--edu {
        & ul {
          margin: 0.45rem;
          font-size: 0.8rem;
          position: relative;
          & li:first-child {
            font-size: 0.9rem;
            text-transform: uppercase;
            font-weight: bolder;
          }
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            margin: 0.15rem 0;
            background: #bcbcbc;
          }
        }
      }
      & .il-cv--sm-name {
        font-size: 0.9rem;
      }
      & .il-cv--edu ul li.il-cv--sm-name {
        list-style: disc;
        text-align: left;
        margin-left: 0.15rem;
        font-size: 0.85rem;
      }
      & .il-cv--social {
        max-width: 360px;
        margin: 0.5rem auto;
        & ul {
          display: flex;
          align-items: space-beatwen;
          & li {
            flex: 1;
            & a {
              display: block;
              color: $primaryColor;
            }
          }
        }
      }
    }
  }
}
