.il-cv--contents {
  //height: 100%;
  position: relative;

  & .il-cv {
    transition: all 450ms;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    margin: auto;
    height: 100%;

    @media screen and (min-width: 1024px) {
      max-width: 70%;
      transition: all 450ms;
    }
    @media screen and (min-width: 1200px) {
      max-width: 60%;
      transition: all 450ms;
    }
    a.il-modal--close {
      @include btnClose;
    }
    & .il-cv--items {
      
      padding: 0 0.5rem;
      height: 100%;
      @media screen and (min-width: 768px) {
        padding: 1rem;
      }
      & .il-cv--profile,
      & .il-cv--name,
      & .il-cv--info,
      & .il-cv--edu {
        background: #7e8285;
        height: 100%;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 768px) {
          margin-bottom: 0.35rem;
        }
        & ul li {
          font-size: 0.8rem;
          text-align: left;
          padding-left: 1rem;
          @media screen and (min-width: 768px) {
            font-size: 0.85rem;
          }
          &.il-sub-title{
            color: #451211;
          }
        }
        & ul li:first-child {
          text-align: center;
          font-size: 0.85rem;
          color: #f5a021;
          padding-left: 0;
          @media screen and (min-width: 768px) {
            font-size: 1rem;
          }
          text-transform: uppercase;
          font-weight: bolder;
        }
      }
      .il-cv--profile img {
        max-width: 60px;
        @media screen and (min-width: 768px) {
          max-width: 70px;
        }
        margin: 0 auto;
        border: 2px solid white;
        border-radius: 50%;
      }
      & .il-cv--social ul {
        display: flex;
        justify-content: space-between;
      }
    }
    &.cv-show {
      transition: all 450ms;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
      // height: 100%;
    }
  }
}
