form.il-form {
  padding: 0.45rem;
  max-width: 700px;
  padding: 20px;
  border-radius: 3px;
  display: flex;
  & .il-form--fields {
    padding: 0.35rem 0.5rem;
    width: 90%;
    margin: 0 5%;
    &.il-flex {
      display: flex;
      justify-content: center;
      align-content: space-between;
    }
  }
  & input[type='text'],
  & input[type='email'],
  & input[type='tel'] {
    border: 1px solid $secondColor;
    background-color: $primaryColor;
    font-size: 0.85rem;
    padding: 4px 4px;
    border-radius: 3px;
    transition: border 0.3s;
    height: 2rem;
    width: 100%;
    margin: 0.25rem 0;
    outline: none;
    color: $textColor;
    &:focus {
      background: $primaryAccent;
    }
  }
  & select.il-select {
    border: 1px solid $secondColor;
    font-size: 0.85rem;
    background-color: $primaryColor;
    font-weight: 300;
    transition: border 0.3s;
    height: 2rem;
    width: 100%;
    margin: 0.25rem 0;
    outline: none;
    color: $textColor;
    &:focus {
      background: $primaryAccent;
    }
  }
  & button.il-btn {
    background: $thirtyColorAccent;
    display: inline-block;
    text-align: center;
    transition: all 0.15s ease;
    &.il-btn--submit {
      color: $primaryColor;
      font-size: 1.1rem;
      border: 1px solid $fortyColor;
      padding: .25rem 1.4rem;
      margin-left: 50%;
      width: 300px;
      transform: translateX(-50%);
      outline: none;
    }
    &:hover {
      background: $fortyColorAccent;
    }
  }
}
