form.il-form {
  max-width: 700px;
  border-radius: 3px;
  margin: auto;
  display: flex;
  & fieldset {
    height: auto;
    margin: auto;
    background: #fdfdfd;
    width: 86.2%;
    border: 1px solid #e5e5e5;
    border-top: 0px solid #e5e5e5;
    padding: 10px 20px;
  }
  & .il-form--fields {
    width: 90%;
    margin: 0 5%;
    &.il-flex {
      display: flex;
      justify-content: center;
      align-content: space-between;
    }
  }
  & input[type='text'],
  & input[type='email'],
  & input[type='password'],
  & input[type='tel'],
  & textarea {
    border: 1px solid #bcb;
    background-color: $thirtyColor;
    font-size: 0.85rem;
    @media screen and (max-width: 768px) {
      height: 1.6rem;
      margin: 0.2rem 0;
    }
    padding: 4px 4px;
    border-radius: 3px;
    transition: border 0.3s;
    height: 1.8rem;
    width: 100%;
    margin: 0.25rem 0;
    outline: none;
    color: $textColor;
    &:focus {
      background: $textColorLight;
    }
  }
  & textarea {
    height: 3.5rem;
  }
  & select.il-select {
    padding: 4px 4px;
    border-radius: 3px;
    border: 1px solid #bcb;
    background-color: $thirtyColor;
    font-size: 0.85rem;
    font-weight: 300;
    transition: border 0.3s;
    height: 2rem;
    width: 100%;
    margin: 0.25rem 0;
    outline: none;
    color: $textColor;
    &:focus {
      background: $textColorLight;
    }
  }
  & button.il-btn {
    background: $textColorAlt;
    display: inline-block;
    text-align: center;
    transition: all 0.15s ease;
    &.il-btn--submit {
      color: $thirtyColor;
      font-size: 1.1rem;
      border: 1px solid $fortyColor;
      margin-bottom: 0.4rem;
      margin-left: 50%;
      @media screen and (min-width: 1171px) {
        width: 300px;
      }
      transform: translateX(-50%);
      outline: none;
    }
    &:hover {
      background: $fortyColorAccent;
    }
  }
}
