i.il-pilates-icon {
  display: block;
  margin: auto;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.7rem;
  line-height: 2.4rem;
  border: 1px solid $secondColor;
  border-radius: 50%;
}
