i.il-pilates-icon {
  display: block;
  margin: auto;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.7rem;
  line-height: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 750ms ease;
  opacity: 1;
  border: 1px solid $thirtyColor;
  &:hover {
    transition: all 750ms ease;
    opacity: 0.9;
    transform: scale(0.9);
  }
  &.no-border {
    border: none !important;
    border-radius: 0;
  }
  &.light {
    border: none !important;
    color: $secondColorAccent;
    background: $primaryAccent !important;
  }
  &.dark {
    //border: 2px solid $thirtyColor;
    border: 1px solid $thirtyColor;
    color: $primaryAccent;
    background: $fortyColorAccent !important;
  }
}
