img.il-img--circle {
  border-radius: 50%;
  border: 2px solid white;
}
img.il-img--small {
  max-width: 220px;
  padding: 3px;
}
img.il-img--medium {
  max-width: 380px;
  padding: 2px;
  border-width: 1px;
}
