.il-clock {
  //border-radius: 34px;
  //border: 3px solid #fff;
  height: 40px;
  width: 40px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.il-clock:before {
  content: '';
  position: absolute;
  background-color: #454343;
  opacity: 0.7;
  left: 50%;
  height: 19px;
  transform: translateX(-50%);
  width: 4px;
  border-radius: 5px;
  transform-origin: 50% 94%;
  animation: ptAiguille 12s linear infinite;
}
.il-clock:after {
  content: '';
  position: absolute;
  background-color: #454343;
  opacity: 0.7;
  top: -17px;
  left: 47%;
  height: 36px;
  width: 4px;
  border-radius: 5px;
  transform-origin: 50% 97%;
  animation: grdAiguille 2s linear infinite;
}

@keyframes ptAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes grdAiguille {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
