.popScroll {
  display: table;
  text-align: center;
  display: none;
  transition: 450ms ease-in-out;
  height: 100%;

  &.hidden {
    transition: 450ms ease-in-out;
    position: relative;
    z-index: -1;
    left: -100%;
    width: 0;
    height: 0;
  }
  &.show {
    transition: 450ms ease-in-out;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  &.il-back {
    background: rgba(101, 115, 116, 0.507);
  }
  .popup {
    width: 350px;
    position: relative;
    margin: 1rem auto;
    display: block;
    text-align: center;
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
    transform-origin: top center;
    animation: iconosani 1.2s forwards;
    h1 {
      height: 40px;
      position: relative;
      color: #fff;
      font-size: 0.9rem;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      background: #434545;
    }
    p {
      text-align: center;
      padding: 7px 0;
      font-size: 0.8rem;
      margin: 3px auto;
    }
    &.il-christmas {
      width: 70%;
      min-height: 300px;
      top: 15%;
      border-radius: 15px 15px;
      margin: 0 auto;
      transform-origin: center center;
      background-image: url('../public/images/banners/christmas-banner.jpg');
      background-position: top left;
      background-size: cover;
      @media (min-width: 680px) {
        background-position: center;
      }
      h1 {
        position: relative;
        border-radius: 15px 15px 0 0;
        font-size: 0.7rem;
        padding: 0 0.2rem;
        @media (min-width: 680px) {
          font-size: 0.8rem;
        }
        background: #0c3d5a;
        color: #fcfbc9;
      }
      p {
        font-family: $heading-font;
        position: relative;
        left: 16%;
        top: 10px;
        color: rgb(236, 228, 182);
        width: 62%;
        @media (min-width: 680px) {
          left: 0;
          top: 30px;
          width: 70%;
        }
        span {
          color: yellow;
        }
      }
    }
  }
}

.il-picture {
  position: relative;
}
@keyframes iconosani {
  0% {
    transform: perspective(800px) rotateX(-90deg);
    opacity: 1;
  }
  40% {
    transform: perspective(800px) rotateX(30deg);
    opacity: 1;
  }
  70% {
    transform: perspective(800px) rotateX(-10deg);
  }
  100% {
    transform: perspective(800px) rotateX(0deg);
    opacity: 1;
  }
}

#option {
  position: relative;
}

.boxi {
  margin-top: 1px;
  display: inline-block;
  width: 174px;
  line-height: 42px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s linear;
}

#agendar {
  background: #303c3f;
}

#close {
  background: #5a686b;
}

.popScroll em {
  width: 42px;
  display: inline-block;
  position: relative;
  margin: 0 -20px;
  line-height: 42px;
  background: #fff;
  color: rgb(41, 35, 35);
  text-align: center;
  border-radius: 50px;
}

#agendar:hover {
  background: #464a4b;
}
#close:hover {
  background: #222a2c;
}

.ribbon {
  position: absolute;
  z-index: 100;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.ribbon.top-left {
  top: -2.6px;
  left: -5px;
}

.ribbon.top-left.ribbon-primary > small {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF428BCA', endColorstr='#FF2A6496');
  background-image: linear-gradient(to bottom, #535658 0%, #2d2e30 100%);
  position: absolute;
  display: block;
  width: 100%;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 65%;
  color: white;
  background-color: #3c454d;
  transform: rotate(-45deg);
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
  top: 16px;
  left: -27px;
}
.ribbon.top-left.ribbon-primary > small:before,
.ribbon.top-left.ribbon-primary > small:after {
  position: absolute;
  content: ' ';
}
.ribbon.top-left.ribbon-primary > small:before {
  left: 0;
}
.ribbon.top-left.ribbon-primary > small:after {
  right: 0;
}
.ribbon.top-left.ribbon-primary > small:before,
.ribbon.top-left.ribbon-primary > small:after {
  bottom: -3px;
  border-top: 3px solid #0e2132;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}
@media screen and (max-width: 400px) {
  .popScroll h1 {
    height: 40px;
    font: 18px/40px sans-serif;
  }
}

@keyframes fade {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }

  66% {
    box-shadow: 0 0 0 10px #3d79d0, 0 0 0 12px white;
  }

  100% {
    box-shadow: 0 0 0 20px transparent, 0 0 0 22px transparent;
  }
}
