*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

html {
  line-height: 1.15;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote {
  font-family: $heading-font;
  padding-left: 0.45rem;
  border-left: 5px solid white;
  font-size: 0.85rem;
  letter-spacing: 1.1px;
  margin: 0.5rem 0;
}
a {
  color: $primaryColor;
  text-decoration: none;
}
