.il-header--menu {
  position: fixed;
  z-index: 101;
  top: $pos-top;
  left: 50%;
  transform: translateX(-50%);
  width: $m-w;
  height: $m-h;
  border: 1px solid $primaryColor;
  padding: 7px 0;
  cursor: pointer;
  @include easeOut;
  &.radius {
    border-radius: 50%;
    background: $secondColorAccent;
    @include easeOut;
  }
  & .il-menu--line {
    height: 3px;
    background: $primaryColor;
    padding: 2px 0;
    margin: 3px;
    opacity: 1;
    @include easeOut;
    &:hover {
      background: $thirtyColorAccent;
      @include easeOut;
    }
    &.deform {
      background: $primaryColor;
      width: 24px;
      height: 2px;
      margin-left: 7px;
      @include easeOut;
      &:nth-child(1) {
        margin-top: 5px;
        transform: rotate(45deg) translate(4px, 4px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}

/* logo*/
$brand-sw: 172px;
$brand-sh: 83px;
/* logo*/
$brand-swsmall: 86px;
$brand-shsmall: 42px;
.il-header--brand {
  position: absolute;
  width: $brand-sw;
  height: $brand-sh;
  left: 50%;
  transform: translateX(-50%);
  top: $brand-shsmall;
  background-image: url($brandUrl);
  /*@media screen and(min-width: 768px) {
    position: relative;
    width: $brand-swsmall;
    height: $brand-shsmall;
    left: getLeft($brand-swsmall);
    top: 0;
    background-image: url($brandUrlSmall);
  }*/
  cursor: pointer;
  @include easeOut;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &:hover {
    @include easeOut;
    opacity: 0.9;
  }
}
