.il-header--menu {
  position: fixed;
  z-index: 101;
  top: $pos-top;
  left: 50%;
  transform: translateX(-50%);
  width: $m-w;
  height: $m-h;
  border: 1px solid $primaryColor;
  padding: 7px 0;
  cursor: pointer;
  @include easeOut;
  &.radius {
    border-radius: 50%;
    background: $secondColorAccent;
    @include easeOut;
  }
  & .il-menu--line {
    height: 3px;
    background: $primaryColor;
    padding: 2px 0;
    margin: 3px;
    opacity: 1;
    @include easeOut;
    &:hover {
      background: $thirtyColorAccent;
      @include easeOut;
    }
    &.deform {
      background: $primaryColor;
      width: 24px;
      height: 2px;
      margin-left: 7px;
      @include easeOut;
      &:nth-child(1) {
        margin-top: 5px;
        transform: rotate(45deg) translate(4px, 4px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}
/* 
logo 5
$brand-vsw: 92px;
$brand-vsh: 47px;
$brand-sw: 183px;
$brand-sh: 93px; */

/**logo 6 */
$brand-vsw: 63px;
$brand-vsh: 31px;
$brand-sw: 126px;
$brand-sh: 62px;
@function getLeft($w) {
  @return calc(100% - #{$w});
}
.il-header--brand {
  position: relative;
  width: $brand-vsw;
  height: $brand-vsh;
  left: getLeft($brand-vsw);
  background-image: url('../../public/images/theme/logo6very-small.png');
  @include easeOut;
  @media screen and (min-width: 501px) {
    @include easeOut;
    width: $brand-sw;
    height: $brand-sh;
    left: getLeft($brand-sw);
    background-image: url('../../public/images/theme/logo6small.png');
  }
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
