.il-section--about {
  text-align: center;
  @media screen and (min-width: 680px) {
    text-align: left;
  }
  & .il-about--content {
    display: flex;
    align-items: center;
    height: 100%;
    & p {
      text-align: justify;
    }
  }
}
