.il-section--advantage {
  margin-bottom: 1rem;
  text-align: center;
  @media screen and (min-width: 680px) {
    text-align: left;
  }
  & .il-advantage--content {
    display: flex;
    align-items: center;
    height: 100%;
    & p {
      text-align: justify;
    }
  }
}
