.il-section--class,
.il-section--prices {
  margin-bottom: 1rem;
  text-align: center;
  @media screen and (min-width: 500px) {
    text-align: left;
  }
  & .il-class--content {
    display: block;
    @media screen and (min-width: 780px) {
      display: flex;
      justify-content: center;
    }
  }
}
