.il-class {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  .il-section--class,
  .il-section--prices {
    text-align: center;
    @media screen and (min-width: 500px) {
      text-align: left;
    }
    & .il-class--content {
      display: block;
      @media screen and (min-width: 780px) {
        display: flex;
        justify-content: center;
      }
      & p {
        text-align: justify;
      }
      & button.il-close {
        margin-top: 15px;
        display: none;
      }
    }
  }
  .il-section--prices {
    position: absolute;
    z-index: 4;
    left: -100%;
    visibility: hidden;
    transition: all 450ms ease-in;
    padding: 0.45rem;
    & h4,
    & p {
      padding: 1rem;
      margin: 0;
    }
    & p {
      font-size: 0.75rem;
      color: black;
    }
    & p.il-obs {
      color: rgb(20, 13, 13);
      padding: 0;
      width: 100%;
      text-align: center;
      margin: 10px 0;
    }
    & a.il-close {
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -5px;
      background: rgb(34, 17, 17);
      transition: 450ms all ease;
      &:hover {
        color: rgb(17, 17, 14);
        background: white;
        transition: 450ms all ease;
      }
      & i {
        display: block;
        line-height: 30px;
      }
    }
    &.il-show {
      display: flex;
      justify-content: center;
      align-content: center;
      transition: all 450ms ease-in;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      visibility: visible;
      &:after {
        content: '';
        position: absolute;
        z-index: -1;
        width: $max-width;
        height: 390px;
        background: #efe6d5;
        //background: linear-gradient(to bottom, #5b4e38 10%, #feae45 130%);
      }
    }
  }
}
