.il-section--contact {
  text-align: center;
  margin-bottom: 1rem;
  @media screen and (min-width: 500px) {
    text-align: left;
  }
  .il-contact--form {
    padding: 1rem 0;
    ul {
      list-style: none;
      padding: 0;
    }
    @media (min-width: 700px) {
      p {
        text-align: left;
      }
    }
    .il-wrapper {
      box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
      display: block;
      @media (min-width: 700px) {
        display: grid;
        grid-template-columns: 300px 1fr;
      }
      @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 400px 1fr;
      }
      .il-info {
        background: #324145;
        padding-bottom: 1rem;
        height: 100%;
        h3,
        ul {
          text-align: left;
          color: goldenrod;
        }
        h3 {
          margin: 1rem 0 0.5rem 0;
          padding-left: 1rem;
        }
        ul {
          position: relative;
          padding-left: 1rem;
          //margin-bottom: 1rem;
          li {
            text-align: left;
          }
        }
        @media (min-width: 700px) {
          h3,
          ul {
            width: 90%;
            margin: 0 5%;
          }
          h3 {
            margin-top: 1.5rem;
          }
          ul {
            top: 10%;
            transform: translateY(-50%);
          }
        }
      }
      .il-contact {
        background: #f9feff;
        padding: 0.5rem;
        form button,
        form input,
        form textarea {
          width: 100%;
          padding: 0.75rem 0.5rem;
          border: 1px solid #c9e6ff;
        }
        form button {
          background: #342312;
          border: 0;
          outline: 0;
          color: #fccf00;
          text-transform: uppercase;
          max-width: 200px;
          padding: 0.3rem 0.25rem;
          cursor: pointer;
          &:hover,
          &:focus {
            background: #454343;
            color: #fff;
            transition: background-color 2s ease-out;
          }
        }
      }
    }
  }
}
