.il-section--email {
  text-align: center;
  @media screen and (min-width: 500px) {
    text-align: left;
  }
  & .il-email--content {
    display: block;
    @media screen and (min-width: 500px) {
      display: flex;
      justify-content: center;
    }
  }
}
