$container: 100%;
.il-header {
  position: absolute;
  width: $container;
  background: rgb(224, 222, 189);
  height: 100px;
  @include easeOut;
  &.active {
    @include easeOut;
    height: 100vh;
    &:after {
      @include overlay(
        $thirtyColorAccent,
        '../public/images/theme/overlay.png',
        0.5
      );
    }
  }
  @import 'header-component/nav-menu';
  @import 'header-component/nav-content';
}
