$container: 100%;
.il-header {
  position: absolute;
  width: $container;
  height: 100px;
  background-color: #dcd9d4;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 50%
    );
  background-blend-mode: soft-light, screen;
  @include easeOut;
  &.active {
    @include easeOut;
    height: 100vh;
    &:after {
      @include overlay(
        $thirtyColorAccent,
        '../public/images/theme/overlay.png',
        0.5
      );
    }
  }
  @import 'header-component/nav-menu';
  @import 'header-component/nav-content';
}
