.il-header {
  width: 100%;
  position: absolute;
  height: $header-height;
  top: 0;
  z-index: 2;
  display: block;
  @include easeOut;
  &.active {
    @include easeOut;
    height: 100%;
    &:after {
      @include overlay(
        $thirtyColorAccent,
        '../public/images/theme/overlay.png',
        0.5
      );
    }
  }
  @import 'header-component/nav-menu';
  @import 'header-component/content';
}
