.il-section--home {
  text-align: center;
  @media screen and (min-width: 500px) {
    text-align: left;
  }
  & .il-home--content {
    display: flex;
    flex-direction: column;
    & p {
      text-align: justify;
      a.il-link--decoration {
        border-bottom: 1px dotted black;
        @include easeOut();
        &:hover {
          color: #767aaa;
          @include easeOut();
        }
      }
      & span.tooltip {
        position: relative;
        display: inline-block;
        & a.il-hints {
          border-bottom: 1px dotted black;
          @include easeOut();
          &:hover {
            color: #767aaa;
            @include easeOut();
          }
        }
        & .tooltiptext {
          transition: 550ms all ease-out;
          visibility: hidden;
          width: 242px;
          height: 363px;
          /* Position the tooltip */
          position: absolute;
          z-index: 1;
          & picture {
            position: relative;
            top: 30px;
            left: -50%;
            & img {
              border-radius: 4px;
              max-width: 60%;
            }
          }
        }
        &:hover .tooltiptext {
          transition: 550ms all ease-in;
          opacity: 1;
          visibility: visible;
        }
      }
    }
    & .il-home--address {
      margin-right: 0;
      & p {
        text-align: left;
        line-height: 0.9rem;
        padding: 0;
        font-size: 0.8rem;
        font-weight: bolder;
        font-family: 'Assistant', sans-serif;
        @media screen and (min-width: 501px) {
          font-size: 0.85rem !important;
        }
        & i {
          margin-right: 0.35rem;
          cursor: pointer;
        }
        & a.isDisabled {
          color: currentColor;
          cursor: not-allowed;
          opacity: 0.5;
          text-decoration: none;
        }
      }
    }
    #google-map {
      width: 100%;
      height: 100%;
    }
    #map-canvas {
      height: 400px;
      max-width: 800px;
      margin: 0 auto;
      border: 2px solid $fortyColor;
    }
  }
  & .il-icons {
    display: flex;
    justify-content: space-between;
    & a {
      display: block;
      @include easeOut();
      &:hover {
        color: $textColorLightGray;
        @include easeOut();
      }
    }
  }
}
