section.il-section--instructor {
  position: relative;
  margin: 1rem auto 1rem auto;
  padding-bottom: 1.5rem;
  @media screen and (min-width: 680px) {
    margin: 2rem auto 2rem auto;
  }
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  @media screen and (min-width: 680px) {
    grid-gap: 1rem;
  }
  justify-content: center;
  .il-card--teacher {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 3px 75px 0 0;
    background: #283442;
    box-shadow: 2px 7px 12px rgba(7, 53, 71, 0.6);
    header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.45rem;
      .il-card--image {
        padding: 0.4rem 0;
        img {
          margin: 0 auto;
          display: block;
          max-width: 60px;
          @media screen and (min-width: 680px) {
            max-width: 90px;
          }
          border-radius: 50%;
        }
      }
      h3 {
        margin: 0;
        color: $thirtyColor;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
      }
    }
    .il-card--body {
      padding: 0.45rem;
      height: 100%;
      min-height: 150px;
      p {
        text-align: left;
        font-size: 1rem;
        color: white;
      }
    }
    .il-card--footer {
      display: flex;
      width: 100%;
      justify-content: center;
      align-content: center;
      height: 40px;
      flex-direction: column;
      padding: 0.25rem 0;
      a.il-btn--vc {
        background: linear-gradient(to left, #8f8989 3%, #3a4a50 100%);
        color: white;
        text-align: center;
      }
    }
  }
}
