.il-section--instructor div {
  //margin-bottom: 1rem;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 680px) {
    text-align: left;
  }
  & .il-instructor--content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: 680px) {
      flex-direction: row;
    }
    
    @import '../theme/cards';
  }
}
