.il-section--space {
  text-align: center;
  @media screen and (min-width: 680px) {
    text-align: left;
  }
  & .il-space--content {
    display: flex;
    height: 100%;
    & p {
      text-align: justify;
    }
  }
  .il-button--content {
    text-align: center;
  }
}
