$video-w: 90%;
section.il-section--videos {
  margin-bottom: 1rem;
}
section.il-section--videos div {
  position: relative;
  .il-videos--content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-gap: 0.35rem;
    justify-content: center;
    .il-card--item {
      height: 340px;
      //border: 1px solid #817f7f;
      border-radius: 7px;
      box-shadow: 3px 2px 6px rgb(73, 54, 54);
      .il-card--header {
        height: 40px;
        padding: 0.35rem 0;
        background: #4f5b64;
        span.il-card--title {
          display: block;
          text-align: center;
          font-size: 0.89rem;
          text-transform: uppercase;
        }
      }
      .il-card--body {
        height: 250px;
        background: linear-gradient(
          to bottom,
          rgb(135, 141, 143) 10%,
          rgb(197, 218, 238) 100%
        );
      }
      .il-card--footer {
        height: 50px;
        background: #423b3b;
        padding: 5px 0;
        i {
          display: block;
          width: 40px;
          height: 40px;
          margin: auto;
          border: 1px solid rgb(223, 223, 39);
          line-height: 38px;
          border-radius: 50%;
          cursor: pointer;
          transition: background 550ms ease;
          &:hover {
            background: #242113;
            border: 3px solid rgb(243, 243, 236);
            line-height: 34px;
            transform: scale(0.9);
            transition: background 550ms ease;
            box-shadow: 2px 0px 7px rgb(229, 230, 231);
          }
        }
      }
    }
    /*g
    
    align-items: center;
    height: 100%;
    cursor: pointer;
   
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(190px, 196px));
    }
    @import '../theme/cards-videos';*/
  }
  .il-video--modal {
    position: absolute;
    left: -150%;
    top: 20%;
    @media (min-width: 768px) {
      top: 15%;
    }
    @media (min-width: 1024px) {
      top: 20%;
    }
    transform: translateY(-50%);
    width: $video-w;
    height: calc($video-w * 0.5625);
    min-height: 400px;
    @media (min-width: 1024px) {
      width: $video-w - 40%;
      height: calc($video-w - 40% * 0.5625);
    }

    background: white;
    &.il-show {
      left: 50%;
      transform: translateX(-50%);
    }
    .il-close--btn {
      width: 100%;
      height: 34px;
      background: #50503e;
      padding: 2px 0;
      a.il-close {
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        color: white;
        margin: 0 auto;
        i {
          line-height: 30px;
        }
        &:hover {
          opacity: 0.75;
          border: 1px solid white;
          border-radius: 50%;
        }
      }
    }
  }
  @import '../theme/player';
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.85);
  }
}
